venv/
snowflake_venv/
airflow_venv/
airflow/logs/
airflow/*.pid
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/standalone_admin_password.txt
fintech_dbt/target/
fintech_dbt/dbt_packages/
fintech_dbt/logs/
fintech_dbt/analyses/
fintech_dbt/macros/
fintech_dbt/seeds/
fintech_dbt/snapshots/
fintech_dbt/tests/
logs/
raw_transactions.csv
*.pyc
*.csv
__pycache__/
.env